* {
  direction: ltr;
}
.course-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 100px;
  font-size: 34px;
  color: white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #009688;
  overflow: hidden;
}
.loop-wrapper {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 600px;
  height: 250px;
  overflow: hidden;
  border-bottom: 3px solid #fff;
  color: white;
}
.mountain {
  position: absolute;
  right: -900px;
  bottom: -20px;
  width: 2px;
  height: 2px;
  box-shadow: 0 0 0 50px #4db6ac, 60px 50px 0 70px#4db6ac,
    90px 90px 0 50px #4db6ac, 250px 250px 0 50px #4db6ac,
    290px 320px 0 50px #4db6ac, 320px 400px 0 50px #4db6ac;
transform: rotate(130deg);
  }
.hill{
  position: absolute;
  right: -900px;
  bottom: -50px;
  border-radius: 50%;
  width: 400px;
  height: 20px;
  box-shadow: 0 0 0 50px #4db6ac, 
  -90px 0 0 50px#4db6ac,
  90px 90px 0 50px #4db6ac,
   250px 0px 0 50px #4db6ac,
  290px 0px 0 50px #4db6ac, 
  620px 0px 0 50px #4db6ac;
}
.tree,
.tree:nth-child(2),
.tree:nth-child(3){
position: absolute;
height: 100px;
width: 35px;
bottom: 0;
background: url(../assets/img/tree.svg) no-repeat;
}
.rock{
  margin-top: -17%;
  height: 7px;
  width: 7px;
  bottom: -2px;
  right: 100%;
  border-radius: 20%;
  position: absolute;
  background-color: #ddd;
}
.truck, .wheels{
  transition: all ease;
  width: 85px;
  margin-right: -60px;
  bottom: 0;
  position: absolute;
  right: 50%;
  background-color: #eee;
}
.truck::before{
  content: '';
  position: absolute;
  width: 25px;
  box-shadow: -30px 28px 0 1.5px white,
  -35px 10px 0 1.5px white
  ;
}
.truck{
  background: url(../assets/img/truck.svg) no-repeat;
  background-size: contain;
  height: 60px;
}
.wheels{
  background: url(../assets/img/wheels.svg);
  height: 15px;
}
.tree{
  animation: tree 3s 0s linear infinite;
}
.tree:nth-child(2){
  animation: tree2 2s 0.15s linear infinite;
} 
.tree:nth-child(3){
  animation: tree3 8s .05s linear infinite;
} 
.rock{
  animation: rock 4s -0530s linear infinite;
}
.truck{
  animation: truck 4s 0.08s ease infinite;
}
.wheels{
  animation: truck 4s 0.01s ease infinite;
}
.truck::before{
  animation: wind 1.5s 0.000s ease infinite;
}
.mountain{
  animation: mtn 20s linear infinite;
}
.hill{
  animation: hill 4s 2s linear infinite;
}
@keyframes tree{
  0%{transform: translateX(1350px);}
  100%{
    transform: translateX(-50px);
  }
}
@keyframes tree2{
  0%{transform: translateX(650px);}
  100%{
    transform: translateX(-50px);
  }
}
@keyframes tree3{
  0%{transform: translateX(2750px);}
  100%{
    transform: translateX(-50px);
  }
}
@keyframes rock{
/* 0%{right: -200px;}
100%{right: 200px;} */
   0%{transform: translateX(3500px);}
   100%{transform:translateX(-1900px);}
}
@keyframes truck{
  6%{transform: translateY(0px);}
  7%{transform: translateY(-6px);}
  9%{transform: translateY(0px);}
  10%{transform: translateY(-1px);}
  11%{transform: translateY(0px);}
}
@keyframes wind{
  50%{transform: translateY(3px);}
}
@keyframes mtn{
100%{
transform: translateX(-2000px) rotate(130deg);
}
}
@keyframes hill{
  100%{transform: translateX(-2000px) ;}
}